net clk_i loc=a9;

# wing3
net s3_o<0> loc=b15;
net s3_o<1> loc=b16;
net s3_o<2> loc=c1;
net s3_o<3> loc=c16;
net s3_o<4> loc=f16;
net s3_o<5> loc=e1;
net s3_o<6> loc=f2;
net s3_o<7> loc=j14;

# wing2
net s2_o<0> loc=j16;
net s2_o<1> loc=h2;
net s2_o<2> loc=k16;
net s2_o<3> loc=h1;
net s2_o<4> loc=k15;
net s2_o<5> loc=j4;
net s2_o<6> loc=m16;
net s2_o<7> loc=k3;

# wing1
net s1_o<0> loc=m15;
net s1_o<1> loc=m2;
net s1_o<2> loc=r15;
net s1_o<3> loc=r1;
net s1_o<4> loc=r7;
net s1_o<5> loc=r2;
net s1_o<6> loc=t7;
net s1_o<7> loc=t4;

# pm2 (PMOD)
#net s_o<0> loc=r1;
#net s_o<1> loc=t4;
#net s_o<2> loc=r15;
#net s_o<3> loc=t7;
#net s_o<4> loc=m2;
#net s_o<5> loc=r2;
#net s_o<6> loc=m15;
#net s_o<7> loc=r7;

# pm2 (PMOD-reversed)
#net s_o<0> loc=t4;
#net s_o<1> loc=r1;
#net s_o<2> loc=t7;
#net s_o<3> loc=r15;
#net s_o<4> loc=r2;
#net s_o<5> loc=m2;
#net s_o<6> loc=r7;
#net s_o<7> loc=m15;

# pm3 (PMOD)
#net s_o<0> loc=k3;
#net s_o<1> loc=r1;
#net s_o<2> loc=m16;
#net s_o<3> loc=r15;
#net s_o<4> loc=j4;
#net s_o<5> loc=m2;
#net s_o<6> loc=k15;
#net s_o<7> loc=m15;

# pm3 (PMOD-reversed)
#net s_o<0> loc=r1;
#net s_o<1> loc=k3;
#net s_o<2> loc=r15;
#net s_o<3> loc=m16;
#net s_o<4> loc=m2;
#net s_o<5> loc=j4;
#net s_o<6> loc=m15;
#net s_o<7> loc=k15;

# pm4 (PMOD)
#net s_o<0> loc=h1;
#net s_o<1> loc=k3;
#net s_o<2> loc=k16;
#net s_o<3> loc=m16;
#net s_o<4> loc=h2;
#net s_o<5> loc=j4;
#net s_o<6> loc=j16;
#net s_o<7> loc=k15;

# pm4 (PMOD-reversed)
#net s_o<0> loc=k3;
#net s_o<1> loc=h1;
#net s_o<2> loc=m16;
#net s_o<3> loc=k16;
#net s_o<4> loc=j4;
#net s_o<5> loc=h2;
#net s_o<6> loc=k15;
#net s_o<7> loc=j16;

# pm5 (PMOD)
#net s_o<0> loc=j14;
#net s_o<1> loc=h1;
#net s_o<2> loc=f2;
#net s_o<3> loc=k16;
#net s_o<4> loc=e1;
#net s_o<5> loc=h2;
#net s_o<6> loc=f16;
#net s_o<7> loc=j16;

# pm5 (PMOD-reversed)
#net s_o<0> loc=h1;
#net s_o<1> loc=j14;
#net s_o<2> loc=k16;
#net s_o<3> loc=f2;
#net s_o<4> loc=h2;
#net s_o<5> loc=e1;
#net s_o<6> loc=j16;
#net s_o<7> loc=f16;

# pm6 (PMOD)
#net s_o<0> loc=c16;
#net s_o<1> loc=j14;
#net s_o<2> loc=c1;
#net s_o<3> loc=f2;
#net s_o<4> loc=b16;
#net s_o<5> loc=e1;
#net s_o<6> loc=b15;
#net s_o<7> loc=f16;

# pm6 (PMOD-reversed)
#net s_o<0> loc=j14;
#net s_o<1> loc=c16;
#net s_o<2> loc=f2;
#net s_o<3> loc=c1;
#net s_o<4> loc=e1;
#net s_o<5> loc=b16;
#net s_o<6> loc=f16;
#net s_o<7> loc=b15;

